# Author: DevOps
# VERSION: 3.2.0
# Description: Deploys git consul configuration directly to consul
# WARNING: The latest version of config deployed on an environment will be replaced with the git config

name: Config - Git to Consul

on:
  workflow_dispatch:
    inputs:
      service:
        description: Service Name (e.g services.accounts)
        type: string
        required: true
      environment:
        description: Environment
        type: choice
        options:
          - "devgr"
          - "stg"
          - "prd"
        required: true
      platform:
        description: Platform (Leave empty for devgr)
        type: choice
        options:
          - ''
          - "eur"
          - "cen"
          - "bra"
        default: ''
      version:
        description: Version
        type: string
        required: true

run-name: "Git to Consul for '${{ inputs.service }}' on '${{ inputs.environment }}' and platform '${{ inputs.platform || 'N/A' }}' from branch '${{ github.ref_name }}'"

jobs:
  workflow-call:
    name: ⚙️ Job
    uses: Novibet/devops.repofilesync/.github/workflows/sw-git-to-consul.yml@latest
    with:
      service: ${{ inputs.service }}
      environment: ${{ inputs.environment }}
      platform: ${{ inputs.platform }}
      version: ${{ inputs.version }}
    secrets: inherit
